* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  .button_div {
    text-align: center;
    width: 100%;
    margin:0 auto;
    position: absolute;
    top: 30%;
  }

  .button {
      padding: 30px 100px;
      border-radius: 4px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
  }

  .smallButton {
    width: 14em;
    padding: 8px 8px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
}

  .notification-bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .notification-close {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .chessDiv {
    width: 100%;
    height: 100%;
  }

  .promoteBoxContent {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  /* .popupButtonDiv {
    vertical-align:top;
  } */

  /* .popupButtonDiv {
    float: left;
  } */

  #chess_options {
    float: left;
    width: 20%;
    height: 100%;
  }

  /* #chess_div_right {
    float: left;
    width: 20%;
    height: 100%;
  } */

  #chess_div_right {
    float: right;
    width: 80%;
    height: 100%;
  }

  #promoteBox {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* #row_lettering {
    float: left;
    width: 80px;
    height: 300px;
  } */

  /* #row_lettering {
    float: left;
  } */

  /* #column_numbering {
    float: left;
    width: 300px;
    height: 80px;
  }

  #board_div {
    float: left;
    width: 300px;
    height: 80px;
  } */

